// Body
$body-bg: #f5f8fa;

$primary:       #2ecc71;
$secondary:     #2c3e50;
$success:       #44bd32;
$info:          #0097e6;
$warning:       #fbc531;
$danger:        #c23616;
$input-box-shadow: 0;


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;