// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

main {
  padding-top:55px;
}

#booking_form {
  
  .guest-picker-input {
    cursor: pointer;
  }

  .booking-btn button.btn {
    display:none;
  }
  
}
/* .guest-picker {

  position: absolute;
  display:none;
  background:#ffffff;
  width: 300px;
  animation: fpFadeInDown 200ms cubic-bezier(.23,1,.32,1);

  &:before {
    position: absolute;
    display: block;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    left: 22px;
    border-width: 5px;
    margin: 0 -5px;
    border-bottom-color: #ffffff;
    top:-10px;
  }

  .adult-input,
  .child-input {
    background:transparent;
    width: 100%;
  }

} */ // .guest-picker

.gmap-wrapper {
  width: 100%;
  position: relative;

  &.properties {
    position: fixed;
    top:55px;
    bottom:0;
    right: 0;
    
  }

  #gmap_properties {    
    height: 100vh;
  }

  #gmap {
    position: relative;
    z-index: 10;
    height: 300px;
  }
  #gmap_search {
    position: absolute;
    top:0;
    right:0;
    left:0;
    margin:10px auto;
    z-index: 15;
    max-width: 300px;
  }

}

.gmap-sidebar {
  position: relative;
}

@keyframes fpFadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes fpFadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}to{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}